button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  /*background-color: pink;*/
  background-image: linear-gradient(to right, pink , hotpink);
  font-family: "Courier New", Courier, monospace;
}

.images {
display: flex;
flex-direction: row;
}

h1 {
  color: white;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
  font-family: "Courier New", Courier, monospace
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}
